@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background-color: #CFD8DC;
    width: 8px;
  }

  ::-webkit-scrollbar-track-piece{
    background-color: #CFD8DC
  }

  ::-webkit-scrollbar-thumb {
    background: #90A4AE;
    width: 8px;
    border-radius: 6px; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #5b5b5b;
  }

} 

html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 80px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  overflow: hidden;
  
}

.unit {
  -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
 }
}

@media screen and (max-width: 767px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding: 10px 20px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 479px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

